@utility hawk-alert {
  display: flex;
  align-items: start;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: var(--radius-lg);
  border: 1px solid var(--border-primary);
  background: var(--bg-secondary);
  color: var(--text-primary);
}

@utility hawk-alert-error {
  border-color: var(--text-primary);
  border-left-width: 4px;
  border-left-style: solid;
}

@utility hawk-alert-warning {
  border-color: var(--text-primary);
  border-left-width: 4px;
  border-left-style: dotted;
}

@utility hawk-alert-info {
  border-color: var(--text-primary);
  border-left-width: 4px;
  border-left-style: solid;
}

@utility hawk-alert-success {
  border-color: var(--text-primary);
  border-left-width: 4px;
  border-left-style: solid;
}
